:root {
  --Primary: #fa8072;
  --AccentA: #fa8072;
  --AccentB: #c871ff;
  --Dark: #14003d;
  --DGray: #242424;
  --LGray: #3c3c3c;
  --White: #fdfdfd;
  --Lime: #37ff00;
  --Yellow: #fff600;
  --Purple: #c871ff;
}

html,
body {
  color: var(--White);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  scroll-behavior: smooth;

  background-image:
    linear-gradient(
      to right,
      var(--AccentA),
      #00000000 20%,
      #00000000 80%,
      var(--AccentB)
    ),
    url("/k&.png"), linear-gradient(to right, var(--AccentA), var(--AccentB));
  background-size: auto, 40px, auto;
  background-repeat: repeat, repeat, repeat;
  animation: panning 24s linear infinite;
  animation-direction: normal;
}

@keyframes panning {
  0% {
    background-position:
      0% 0%,
      0% 0%,
      0% 0%;
  }
  100% {
    background-position:
      0% 0%,
      40px 40px,
      0% 0%;
  }
}

@font-face {
  font-family: Kalico;
  src: url("/KalicoPolygon.otf");
}

.slantL {
  clip-path: polygon(0% 0%, calc(100% - 25px) 0%, 100% 100%, 25px 100%);
}

.slantR {
  clip-path: polygon(25px 0px, 100% 0%, calc(100% - 25px) 100%, 0% 100%);
}

.hovers {
  transition:
    0.2s transform,
    0.2s filter;
}

.hovers:hover {
  transform: translate(-3px, -3px);
}

.halftone {
  background-color: var(--Dark);
  background-image: url("/halftone.svg");
  background-repeat: repeat-x;
  background-size: auto;
  background-blend-mode: overlay;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 4.5rem);
}

.section ~ .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh);
  padding-top: 1.75rem;
}

.centered {
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  align-content: center;
  text-align: center;
}

.allcentered {
  margin: auto;
}

.card {
  height: min-content;
  padding: 15px 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.maximize {
  width: calc(80vw);
  height: calc(80vh);
}

.flexme {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  color: var(--White);
}

.button {
  font-weight: bold;
  cursor: pointer;
  transition:
    0.2s transform,
    0.2s filter;
  text-shadow: 0px 0px 5px var(--Dark);
  margin-bottom: 3px;
}

.button:hover {
  transform: translate(0px, -3px);
}

.salmon {
  background-color: var(--Primary);
}

.lime {
  background-color: var(--Lime);
}

.yellow {
  background-color: var(--Yellow);
}

.purple {
  background-color: var(--Purple);
}
