---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Very Silly Ciphers" description="I'd be surprised if a puzzle designer uses any of these.">
    <main class="container">
        <article>
          <textarea rows="3" id="input"> Yes, this is a default text box. </textarea>
          <article class="dropdown">
            <select id="dropcontent">
              <option selected disabled value="">Select Cipher</option>
              <option id="K" style="background-color: #f5a9b8; color: #000">
                K
              </option>
              <option id="L" style="background-color: #ffaa90; color: #000">
                L
              </option>
              <option id="M" style="background-color: #aeffae; color: #000">
                M
              </option>
              <option id="A" style="background-color: #fff899; color: #000">
                A
              </option>
              <option id="Z" style="background-color: #9988dd; color: #000">
                Z
              </option>
              <option id="O" style="background-color: #493457; color: #fff">
                O
              </option>
            </select>
            <button id="encodetoggle"><b>Encoding</b></button>
          </article>
          <textarea id="output" readonly></textarea>
          <article id="gradient"></article>
          <button id="copy"><b>Copy Output</b></button>
        </article>
      </main>
</Layout>