---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import kalitrying from "../assets/index/kali-trying.png";
---

<Layout title="PickKali's silly corner" description="Tap here for +1 Silly">
  <section id="Main" class="section">
    <div class="centered">
      <Image
        id="tryingimage"
        src={kalitrying}
        alt="Drawing of Kali sitting down with headphones, looking at her laptop."
        height={450}
        width={450}
        title="Oh, there's a cursor on me. Hi cursor! ^w^"
        layout="constrained"
        draggable=false
      />
    </div>
    <div class="halftone slantR card">
      <div class="centered">
        <div class="titlerow allcentered" style="max-width: min-content;">
          <h1>Kali,</h1>
          <select id="titleselect">
            <option value="0">No Title Selected</option>
            <option value="1">Geospatial Researcher</option>
            <option value="2">User Experience Researcher</option>
            <option value="3">Human Computer Interaction</option>
            <option value="4">Game Developer</option>
            <option value="5">Aspiring Hobbyist Composer</option>
            <option value="6">Former Speedrunner</option>
          </select>
        </div>
        <i id="flavortext">No title? Guess I'm just Kali then!</i>
        <br /><br />
        <div id="options" class="allcentered flexme">
          <a href="#Projects" class="button salmon card slantL hoverwhite">Projects▼</a>
          <a href="#Posts" class="button lime card slantL hoverwhite">Posts▼</a>
          <a href="#Music" class="button yellow card slantL hoverwhite">Music▼</a>
          <a href="#Glossary" class="button purple card slantL hoverwhite">Glossary▼</a>
        </div>
      </div>
    </div>
  </section>
  <section id="Projects" class="section">
    <div class="halftone slantL card maximize centered">
      <h1>Projects</h1>
      <i>No projects have been posted.</i>
    </div>
  </section>
  <section id="Posts" class="section">
    <div class="halftone slantR card maximize centered">
      <h1>Posts</h1>
      <i>No posts have been posted.</i>
    </div>
  </section>
  <section id="Music" class="section">
    <div class="halftone slantL card maximize centered">
      <h1>Music</h1>
      <i>No music has been posted.</i>
    </div>
  </section>
  <section id="Glossary" class="section">
    <div class="halftone slantR card maximize centered">
      <h1>Glossary</h1>
      <i>No terms have been posted.</i>
    </div>
  </section>
  <style>
    #tryingimage {
      cursor: grab;
      filter: drop-shadow(-16px 16px var(--Dark));
    }
    #tryingimage:active {
      cursor: grabbing;
    }
    #options {
      max-width: 35vw;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  </style>

  <script src="../scripts/index.js"></script>
</Layout>
