---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import fumo from "../assets/index/fumo.png";
---

<Layout title="PickKali's silly corner" description="something silly lurks...">
  <section id="sillysection">
    <div id="rotateddiv">
      <Image
        src={fumo}
        alt="Kali, in fumo plushie form."
        height={400}
        width={400}
        id="rotateddiv"
      />
    </div>
    <article id="innerarticle">
      <h1>Hi! I'm Kali! And I'm silly!</h1>
      <blockquote id="randomquote"></blockquote>
      <i>This is actually a quote that I have said.</i>
      <br /><br />
      <a role="button" class="lesspadding" href="#links">Links▼</a>
      <a role="button" class="lesspadding secondary" href="#resources" hidden
        >Resources▼</a
      >
    </article>
  </section>
  <section id="serioussection" class="container-float">
    <article>
      <h2 id="links">Links</h2>
      <table class="striped">
        <thead>
          <tr>
            <th>What</th>
            <th>Where</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Youtube</th>
            <td>
              <a
                href="https://www.youtube.com/@pickkali"
                target="_blank"
                data-tooltip="Your irregularly unscheduled content.">PickKali</a
              ><br />
              <a
                href="https://www.youtube.com/@KaliIsTrying"
                target="_blank"
                data-tooltip="For whenever I feel musical.">KaliIsTrying</a
              >
            </td>
          </tr>
          <tr>
            <th>Wafrn</th>
            <td>
              <a
                href="https://app.wafrn.net/blog/PickKali"
                target="_blank"
                data-tooltip="Where the wild thoughts roam free.">PickKali</a
              >
            </td>
          </tr>
          <tr>
            <th>Roblox</th>
            <td>
              <a
                href="https://www.roblox.com/users/425402714/profile"
                target="_blank"
                data-tooltip="Yeah, I'm linking Roblox, so what?">Unpickled</a
              ><br />
              <a
                href="https://www.roblox.com/communities/6245537/Ancient-Arch-Studios#!/about"
                target="_blank"
                data-tooltip="Primary group (Obby Squads)"
                >Ancient Arch Studios</a
              ><br />
              <a
                href="https://www.roblox.com/communities/12639976/ProtoFox#!/about"
                target="_blank"
                data-tooltip="Primary group (Main projects)">Protofox</a
              ><br />
              <a
                href="https://www.roblox.com/communities/33196811/Doodle-Fennec#!/about"
                target="_blank"
                data-tooltip="Secondary group (Secondary projects)"
                >Doodle Fennec</a
              ><br />
            </td>
          </tr>
          <tr>
            <th>Github</th>
            <td>
              <a
                href="https://github.com/PickKali"
                target="_blank"
                data-tooltip="If you REALLY wanted to look at source code."
                >PickKali</a
              >
            </td>
          </tr>
          <tr>
            <th>Itch.io</th>
            <td>
              <a
                href="https://pickkali.itch.io/"
                target="_blank"
                data-tooltip="I still have a lot to do before I get around to using Godot."
                >PickKali</a
              >
            </td>
          </tr>
          <tr>
            <th>Twitch</th>
            <td>
              <a
                href="https://www.twitch.tv/pickkali"
                target="_blank"
                data-tooltip="I don't even stream.">PickKali</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </article>
    <article hidden>
      <h2 id="resources">Resources</h2>
    </article>
  </section>
</Layout>

<script is:inline>
  const quotetable = [
    { quote: "i'm now known as a defenestration girl", date: "1 March 2021" },
    {
      quote: "i'm having too much fun with these obbies",
      date: "23 December 2023",
    },
    { quote: "i'm so glad that this is a feature", date: "28 June 2022" },
    { quote: "proud to say that i'm a yuki main", date: "29 June 2021" },
    {
      quote: "y'all forgot that i'm actually a clown car?",
      date: "20 June 2021",
    },
    {
      quote: "dissociative amnesia gets to me but i'm still alive",
      date: "4 October 2020",
    },
    {
      quote:
        "i'm 99% sure everyone here has played the lil nas x concert experience",
      date: "26 April 2021",
    },
    {
      quote:
        "yay starting another game project that im unsure if i'm going to complete",
      date: "9 February 2021",
    },
    {
      quote: "i'm actually pretty happy about this floor",
      date: "19 July 2021",
    },
    {
      quote: "i'm still adamant about hatweight existing",
      date: "25 April 2024",
    },
    {
      quote: "fixated so hard that i'm now top 10k in minesweeper",
      date: "24 March 2024",
    },
    {
      quote: "idk what i'm doing and nobody else does either",
      date: "21 February 2021",
    },
    {
      quote: "im like 1/3rd of the way complete and i'm improvising as I go",
      date: "17 February 2021",
    },
    {
      quote:
        "this is why i'm majoring in frontend development; i can't forgive myself for letting this happen",
      date: "28 September 2023",
    },
    {
      quote:
        "if i'm in world 7 with 23 stars and 1 hour on the timer i am doing something really wrong",
      date: "19 July 2024",
    },
    {
      quote:
        "i know that i'm a runner at my core; i don't know what i Speed Run 4",
      date: "28 March 2024",
    },
    { quote: "i'm on my 28th watermelon", date: "27 April 2020" },
    { quote: "i am sleeping on the ttyd ost", date: "2 September 2024" },
    {
      quote: "i wouldn't be surprised if you don't know who i am",
      date: "1 September 2024",
    },
    { quote: "I am the definition of skill issue", date: "24 January 2024" },
    {
      quote: "unfortunately i am neither a guy or from an anime",
      date: "29 March 2021",
    },
    { quote: "why am i having fun programming", date: "23 February 2024" },
    { quote: "clearly, I am underleveled.", date: "26 November 2021" },
    {
      quote: "I wanna do devex but I am too lazy to do the tax forms",
      date: "4 February 2023",
    },
    {
      quote:
        "im just an incredibly neurodivergent person that has nothing better to do",
      date: "13 June 2024",
    },
    {
      quote:
        "idk if im a lexographer... lexicographer... see i can't even spell it",
      date: "2 February 2024",
    },
    {
      quote: "im like the older stepsibling that shows up every third episode",
      date: "21 May 2024",
    },
  ];
  let assigned = quotetable[Math.floor(Math.random() * quotetable.length)];
  $("#randomquote").html(
    '"' + assigned.quote + '"<br/><br/>Kali on ' + assigned.date,
  );
  //Newlines don't work in blockquotes!
</script>

<style>
  html {
    background-image:
      linear-gradient(
        to right,
        var(--K),
        #00000000 20%,
        #00000000 80%,
        var(--L)
      ),
      url("/k&.png"), linear-gradient(to right, var(--K), var(--L));
    background-size: auto, 80px, auto;
    background-repeat: repeat, repeat, repeat;
    animation: panning 10s ease-in-out infinite;
    animation-direction: alternate;
  }

  @keyframes panning {
    0% {
      background-position:
        0% 0%,
        0% 0%,
        0% 0%;
    }
    100% {
      background-position:
        0% 0%,
        5% 5%,
        0% 0%;
    }
  }

  #innerarticle {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
  }
  #sillysection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 4.5rem);
  }
  #rotateddiv {
    height: min-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    animation: rotateYZ 15s infinite linear;
  }
  #serioussection {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
  }
  .lesspadding {
    padding: 0.5em 1em;
  }
  td {
    line-height: 2em;
  }
  @keyframes rotateYZ {
    to {
      transform: rotateY(360deg) rotateZ(720deg);
    }
  }
</style>
