---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import kalitrying from '../assets/index/kali-trying.png';
---

<Layout title="PickKali's silly corner" description="Tap here for +1 Silly">
  <section id="Main" class="section">
    <div class="centered">
    <Image id="tryingimage" src={kalitrying} alt="Drawing of Kali sitting down with headphones, looking at her laptop." height={450} width={450} title="Oh, there's a cursor on me. Hi cursor! ^w^"></Image>
    </div>
    <div class="halftone slantR card">
      <div class="centered">
        <h1>Kali, <select>
          <option>No Title Selected</option>  
        </select></h1>
        <blockquote id="randomquote"></blockquote>
        <i>This is actually a quote that I have said.</i>
        <br /><br />
        <a role="button" class="hovers" href="#posts">Posts▼</a
        >
      </div>
    </div>
  </section>
  <section id="Projects" class="section">
    <div class="halftone slantL card maximize centered">
      <h1>Projects</h1>
    </div>
  </section>
  <style>
    #tryingimage {
      filter: drop-shadow(-16px 16px var(--Dark));
    }
  </style>
  </Layout
>
