---

---

<nav class="flexme halftone">
  <ul><li><a href="/the-site/" id="headerlabel">PickKali!</a></li></ul>
  <ul class="flexme">
    <li><a href="/the-site/" class="secondary">Home</a></li>
    <li hidden>
      <a href="/the-site/projects" class="secondary">Projects</a>
    </li>
    <li hidden>
      <a href="/the-site/glossary" class="secondary">Glossary</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: sticky;
    background-color: var(--Dark);
    padding: 0em 1em;
    top: 0;
    z-index: 100;
    border-bottom: 4px solid var(--White);
  }
  #headerlabel {
    font-family: "Kalico" !important;
    font-size: xx-large !important;
    color: var(--Primary) !important;
  }
</style>
